* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
}

.header {
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    align-items: center;
}

.header_logo {
    flex: 1;
}

.header_link {
    text-decoration: none;
}

.navi {
    display: flex;
    align-items: center;
}

.navi a {
    text-decoration: none;
    color: rgb(110, 193, 231);
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}


.projects-gallery-section {
        background-image: url(/img/banner.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        display: flex;
        color: white;
        opacity: 0.8;
        justify-content: center;
}

.projects-gallery-section img {
    width: 300px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: auto;
}






/*FOOOOTER*/
.social-logos {
    width: 35px;
}

.footer-content {
    width: 100%;
   
}


footer {
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
    color: white;
    width: 100%;
    height: 230px;
    padding: 10px;
    font-size: 15px;
    padding-top: 60px;
    align-items: center;

}

.social-media-container  {
    text-align: center;
    padding-bottom: 20px;
}
.social-media-container h3 {
    margin-bottom: 10px;
}
.rights-container {
   text-align: center;
   font-size: 13px;
}
