* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
}

.header {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    align-items: center;
}

.header_logo {
    flex: 1;
}

.header_link {
    text-decoration: none;
}

.navi {
    display: flex;
    align-items: center;
}

.navi a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px blue;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

/* BANNER */

.banner {
    background-image: url(/img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    opacity: 0.8;
}

.banner_text {
        padding: 40px;
        padding-top: 200px;
        font-size: 25px;
    }
    
.banner_text h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.999), 0 0 30px rgba(0, 0, 0, 0.4);
padding-top: 8%;
color: white;

}
.banner_text h1, p {
    margin-bottom: 10px;
}


.banner_button {
    margin: 20px;
    padding: 13px;
    border-radius: 30px;
    border: white 1px solid;
    color: white;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    
}


/* OM MIG SECTION */

.section-om-mig {
    border-top: #3498db 1px solid;
    margin-bottom: 60px;
}

.section-om-mig h2 {
    margin-left: 200px;
    margin-top: 40px;
    font-size: 35px;
}

.container-om-mig {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.about-text {
    background: linear-gradient(40deg, rgb(5, 21, 55), rgb(103, 149, 171));
    border-radius: 15px;
    height: 80px;
    width: 500px;
    margin-bottom: 10px;
    padding: 15px;
}

.textos-om-mig h3 {
    margin-bottom: 5px;
}

.textos-om-mig span {
    margin-right: 10px;
}

.textos-om-mig p {
    margin-bottom: 15px;
}

.img-about-me {
    border-radius: 100px;
}

/* SKILLS */

.section-skills {
 display: flex;
 justify-content: space-evenly;
 border-top: #3498db 1px solid;
 height: 500px;
 padding-top: 30px;
}

.skills-logos {
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 80px 80px 80px;
    margin-top: 50px;
    margin-left: 100px;
    gap: 40px;
}

.skills h2, .projects-container h2 {
  text-align: justify;
  font-size: 35px;
  margin-left: 200px;

}



.logo-item {
    background: linear-gradient(180deg, rgb(5, 21, 55), rgb(103, 149, 171));
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    background-color: #3498db;
    margin: 10px;
    float: left; 
  
    /* Animering */
    animation: floatAnimation 2.5s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /*PROJECTS*/
.projects-items{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns:200px 200px;
    gap: 70px;
}


  /*Sista section*/
  .last-section {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    border-top: #3498db solid 1px;
    height: 200px;
    padding-top: 30px;
    margin-top: 190px;
}

.social-logos {
    width: 35px;
}

.social-media-container {
    color: white;
    padding: 20px;
    width: 800px;
}





/* FOOTER */

footer {
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
    color: white;
    text-align: center;
    padding: 10px;
    border-top: #3498db 1px solid;
}

