
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
}

.header {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    align-items: center;
}

.header_logo {
    flex: 1;
}

.header_link {
    text-decoration: none;
}

.navi {
    display: flex;
    align-items: center;
}

.navi a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    transition: ease-in 1s ;
}

/* BANNER */

.banner {
    background-image: url(/img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    text-align: center;
    opacity: 0.8;
    margin-top: 80px;
}

.banner_text {
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        max-width: 800px;
        margin-bottom: 30px;
    }
.banner_text h1, h3, p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.999), 0 0 30px rgba(0, 0, 0, 0.4);
}

.banner_text h1 {
color: white;
font-size: 50px;
}
.banner_text h3 {
 font-size: 35px;
 color: #3498db;   
}
.banner_text p {
    font-size: 20px;
}

.banner_button {
    margin-right: 25px;
    padding: 13px;
    border-radius: 30px;
    border: white 1px solid;
    color: white;
    background: transparent;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.btn-banner-container, .banner_text {
    margin-left: 100px;
}


/* OM MIG SECTION */

.section-om-mig {
    margin-bottom: 60px;
}

.section-om-mig h2 {
    margin-left: 200px;
    margin-top: 40px;
    font-size: 35px;
}

.container-om-mig {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.about-text {
    background: linear-gradient(90deg, rgb(5, 21, 55), rgb(103, 149, 171));
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 800px;
}

.textos-om-mig h3 {
    margin-bottom: 5px;
}



.textos-om-mig p {
    margin-bottom: 15px;
}

.img-about-me {
    border-radius: 200px;
}


 .middle-section{
    background-image: url(/img/banner.jpg);
    height: 280px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
 }
/* SKILLS */

.section-skills {
 display: flex;
 justify-content: space-evenly;
 height: 800px;
 padding-top: 70px;
 
}

.skills-logos {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    margin-top: 60px;
    gap: 60px;
}

.skills h3{
  font-size: 35px;
  text-align: center;
  padding: 20px;

}



.logo-item {
    background: linear-gradient(5deg, rgb(5, 21, 55), rgb(103, 149, 171));
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    background-color: #3498db;
    margin: 10px;
 
  
    /* Animering */
    animation: floatAnimation 2.5s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  

/* FOOTER */

.social-logos {
    width: 35px;
}

.footer-content {
    width: 100%;
   
}


footer {
    background: linear-gradient(180deg, rgb(24, 55, 110), rgb(5, 21, 55));
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    padding-top: 60px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    align-items: center;
    
}
